<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title!='undefined' ?title:'CookBookClub' %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg">
        <nav class="navbar navbar-expand-lg navbar-light bg-white position-sticky shadow pb-4" style="top: 0; z-index: 1030;">
            <div class="container-xxl px-md-5">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none logo-link">
                <img src="/img/logo-no-background.png" alt="CookBookClub" height="48" width="280" class="me-2">
              </a>
          
              <!-- Toggler button for small screens -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Nav links -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a href="/" class="nav-link px-2 link-secondary">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="/aboutUs" class="nav-link px-2 link-secondary">About</a>
                  </li>
                  <li class="nav-item">
                    <a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a>
                  </li>
                  <li class="nav-item">
                    <a href="/categories" class="nav-link px-2 link-secondary">Categories</a>
                  </li>
          
                  <% if (currentUser) { %>
                  <li class="nav-item">
                    <a href="/logout" class="nav-link px-2 link-secondary">Logout</a>
                  </li>
                  <% } else { %>
                  <li class="nav-item">
                    <a href="/login" class="nav-link px-2 link-secondary">Login</a>
                  </li>
                  <% } %>
                </ul>
          
                <!-- Search form -->
                <div class="d-flex">
                  <form method="POST" action="/search">
                    <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
                  </form>
                </div>
              </div>
            </div>
          </nav>


        <section id="main-hero" class="mt-5">
            <main>
                <%- include('../includes/flash') %>
                    <%- body -%>
            </main>
        </section>

        <section id="footer" class="my-5 py-2 pb-4">
            <footer class="py-5 bg-light w-100">
                <div class="container">
                    <div class="row d-flex justify-content-evenly">
                        <!-- About Us Section -->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <h5>About Us</h5>
                            <p>CookBookClub is a community of food lovers and chefs who share their passion for cooking.
                                Discover, create, and share amazing recipes from around the world.</p>

                            <!-- Social Media Icons -->
                            <div class="social-icons">
                                <a href="https://youtube.com" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                                        viewBox="0 0 333333 333333" shape-rendering="geometricPrecision"
                                        text-rendering="geometricPrecision" image-rendering="optimizeQuality"
                                        fill-rule="evenodd" clip-rule="evenodd">
                                        <path
                                            d="M329930 100020s-3254-22976-13269-33065c-12691-13269-26901-13354-33397-14124-46609-3396-116614-3396-116614-3396h-122s-69973 0-116608 3396c-6522 793-20712 848-33397 14124C6501 77044 3316 100020 3316 100020S-1 126982-1 154001v25265c0 26962 3315 53979 3315 53979s3254 22976 13207 33082c12685 13269 29356 12838 36798 14254 26685 2547 113354 3315 113354 3315s70065-124 116675-3457c6522-770 20706-848 33397-14124 10021-10089 13269-33090 13269-33090s3319-26962 3319-53979v-25263c-67-26962-3384-53979-3384-53979l-18 18-2-2zM132123 209917v-93681l90046 46997-90046 46684z"
                                            fill="red" />
                                    </svg>
                                </a>
                                <a href="https://x.com">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 50 50"
                                        width="50px" height="50px">
                                        <path
                                            d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z" />
                                    </svg>
                                </a>
                                <a href="https://instagram.com" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 132.004 132">
                                        <defs>
                                            <linearGradient id="b">
                                                <stop offset="0" stop-color="#3771c8" />
                                                <stop stop-color="#3771c8" offset=".128" />
                                                <stop offset="1" stop-color="#60f" stop-opacity="0" />
                                            </linearGradient>
                                            <linearGradient id="a">
                                                <stop offset="0" stop-color="#fd5" />
                                                <stop offset=".1" stop-color="#fd5" />
                                                <stop offset=".5" stop-color="#ff543e" />
                                                <stop offset="1" stop-color="#c837ab" />
                                            </linearGradient>
                                            <radialGradient id="c" cx="158.429" cy="578.088" r="65" xlink:href="#a"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="matrix(0 -1.98198 1.8439 0 -1031.402 454.004)"
                                                fx="158.429" fy="578.088" />
                                            <radialGradient id="d" cx="147.694" cy="473.455" r="65" xlink:href="#b"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="matrix(.17394 .86872 -3.5818 .71718 1648.348 -458.493)"
                                                fx="147.694" fy="473.455" />
                                        </defs>
                                        <path fill="url(#c)"
                                            d="M65.03 0C37.888 0 29.95.028 28.407.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468C4 13.126 1.5 18.394.595 24.656c-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28 7.79-2.01 14.24-7.29 17.75-14.53 1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624C116.9 4 111.64 1.5 105.372.596 102.335.157 101.73.027 86.19 0H65.03z"
                                            transform="translate(1.004 1)" />
                                        <path fill="url(#d)"
                                            d="M65.03 0C37.888 0 29.95.028 28.407.156c-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468C4 13.126 1.5 18.394.595 24.656c-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28 7.79-2.01 14.24-7.29 17.75-14.53 1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624C116.9 4 111.64 1.5 105.372.596 102.335.157 101.73.027 86.19 0H65.03z"
                                            transform="translate(1.004 1)" />
                                        <path fill="#fff"
                                            d="M66.004 18c-13.036 0-14.672.057-19.792.29-5.11.234-8.598 1.043-11.65 2.23-3.157 1.226-5.835 2.866-8.503 5.535-2.67 2.668-4.31 5.346-5.54 8.502-1.19 3.053-2 6.542-2.23 11.65C18.06 51.327 18 52.964 18 66s.058 14.667.29 19.787c.235 5.11 1.044 8.598 2.23 11.65 1.227 3.157 2.867 5.835 5.536 8.503 2.667 2.67 5.345 4.314 8.5 5.54 3.054 1.187 6.543 1.996 11.652 2.23 5.12.233 6.755.29 19.79.29 13.037 0 14.668-.057 19.788-.29 5.11-.234 8.602-1.043 11.656-2.23 3.156-1.226 5.83-2.87 8.497-5.54 2.67-2.668 4.31-5.346 5.54-8.502 1.18-3.053 1.99-6.542 2.23-11.65.23-5.12.29-6.752.29-19.788 0-13.036-.06-14.672-.29-19.792-.24-5.11-1.05-8.598-2.23-11.65-1.23-3.157-2.87-5.835-5.54-8.503-2.67-2.67-5.34-4.31-8.5-5.535-3.06-1.187-6.55-1.996-11.66-2.23-5.12-.233-6.75-.29-19.79-.29zm-4.306 8.65c1.278-.002 2.704 0 4.306 0 12.816 0 14.335.046 19.396.276 4.68.214 7.22.996 8.912 1.653 2.24.87 3.837 1.91 5.516 3.59 1.68 1.68 2.72 3.28 3.592 5.52.657 1.69 1.44 4.23 1.653 8.91.23 5.06.28 6.58.28 19.39s-.05 14.33-.28 19.39c-.214 4.68-.996 7.22-1.653 8.91-.87 2.24-1.912 3.835-3.592 5.514-1.68 1.68-3.275 2.72-5.516 3.59-1.69.66-4.232 1.44-8.912 1.654-5.06.23-6.58.28-19.396.28-12.817 0-14.336-.05-19.396-.28-4.68-.216-7.22-.998-8.913-1.655-2.24-.87-3.84-1.91-5.52-3.59-1.68-1.68-2.72-3.276-3.592-5.517-.657-1.69-1.44-4.23-1.653-8.91-.23-5.06-.276-6.58-.276-19.398s.046-14.33.276-19.39c.214-4.68.996-7.22 1.653-8.912.87-2.24 1.912-3.84 3.592-5.52 1.68-1.68 3.28-2.72 5.52-3.592 1.692-.66 4.233-1.44 8.913-1.655 4.428-.2 6.144-.26 15.09-.27zm29.928 7.97c-3.18 0-5.76 2.577-5.76 5.758 0 3.18 2.58 5.76 5.76 5.76 3.18 0 5.76-2.58 5.76-5.76 0-3.18-2.58-5.76-5.76-5.76zm-25.622 6.73c-13.613 0-24.65 11.037-24.65 24.65 0 13.613 11.037 24.645 24.65 24.645C79.617 90.645 90.65 79.613 90.65 66S79.616 41.35 66.003 41.35zm0 8.65c8.836 0 16 7.163 16 16 0 8.836-7.164 16-16 16-8.837 0-16-7.164-16-16 0-8.837 7.163-16 16-16z" />
                                    </svg>
                                </a>
                                <a href="https://facebook.com" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                                        shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                                        image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                                        viewBox="0 0 509 509">
                                        <g fill-rule="nonzero">
                                            <path fill="#0866FF"
                                                d="M509 254.5C509 113.94 395.06 0 254.5 0S0 113.94 0 254.5C0 373.86 82.17 474 193.02 501.51V332.27h-52.48V254.5h52.48v-33.51c0-86.63 39.2-126.78 124.24-126.78 16.13 0 43.95 3.17 55.33 6.33v70.5c-6.01-.63-16.44-.95-29.4-.95-41.73 0-57.86 15.81-57.86 56.91v27.5h83.13l-14.28 77.77h-68.85v174.87C411.35 491.92 509 384.62 509 254.5z" />
                                            <path fill="#fff"
                                                d="M354.18 332.27l14.28-77.77h-83.13V227c0-41.1 16.13-56.91 57.86-56.91 12.96 0 23.39.32 29.4.95v-70.5c-11.38-3.16-39.2-6.33-55.33-6.33-85.04 0-124.24 40.16-124.24 126.78v33.51h-52.48v77.77h52.48v169.24c19.69 4.88 40.28 7.49 61.48 7.49 10.44 0 20.72-.64 30.83-1.86V332.27h68.85z" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <!-- Contact Us Section -->
                        <div class="col-lg-4 col-md-6 mb-4">
                            <h5>Contact Us</h5>
                            <p>Email: info@cookbookclub.com</p>
                            <p>Phone: +123-456-7890</p>
                            <p>Address: 123 Cooking Lane, Food City, USA</p>
                        </div>
                    </div>

                </div>
            </footer>
            <div class="pt-5 text-center">
                <p>&copy; CookBookClub. All Rights Reserved. &trade;</p>
            </div>
        </section>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>